.row.spazio {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-block-end: 30px;
}


.row.heather {
    display: block;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row-reverse;
    justify-content: center;
}

.giallo {
    background: #fcd12a;
}

.rosso {
    background: red;
}