
input[type=submit] {
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgb(12, 12, 135); 
    color: white;
    padding: 5 25 5 25px;
    border: none;
    font-family: 'Roboto', sans-serif;
}