<div th:fragment="nuovoCandidato">
	<form method="post" action="/aggiungi-candidato">
		<div class="card no-b  no-r">
			<div class="card-body">
				<span th:text="${errore}"></span>
				<h5 class="card-title">Anagrafica</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="nomeCognome" class="col-form-label s-12">NOME
									E COGNOME</label> <input th:value="${risorsa.nomeCognome}" id="nomeCognome" name="nomeCognome"
									placeholder="Inserisci Nome e Cognome" required
									class="form-control r-0 light s-12 " type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="recapito" class="col-form-label s-12">RECAPITO</label>
								<input th:value="${risorsa.recapito}" id="recapito" name="recapito"
									placeholder="Inserisci Recapito"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="email" class="col-form-label s-12">EMAIL</label>
								<input th:value="${risorsa.email}" id="email" name="email" placeholder="Inserisci Email"
									class="form-control r-0 light s-12 datePicker"
									data-time-picker="false" data-format-date='Y/m/d'
									type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="profiloLinkedin" class="col-form-label s-12">PROFILO LINKEDIN</label>
								<input th:value="${risorsa.profiloLinkedin}" id="profiloLinkedin" name="profiloLinkedin" placeholder="Linkedin URL"
									class="form-control r-0 light s-12 datePicker"
									data-time-picker="false" data-format-date='Y/m/d'
									type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="citta"
									class="col-form-label s-12">CITT&Agrave;</label> <input
									th:value="${risorsa.citta}" id="citta" name="citta"
									placeholder="Inserisci Citt&agrave;"
									class="form-control r-0 light s-12 datePicker"
									type="text" required>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine row -->
			</div>
			<!-- Fine Card -->
			<hr>

			<div class="card-body">
				<h5 class="card-title">Colloquio</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="dataColloquio" class="col-form-label s-12"><i
									class="icon-calendar mr-2"></i>DATA COLLOQUIO</label> <input
									th:value="${risorsa.dataColloquio}" id="dataColloquio" name="dataColloquio"
									placeholder="Inserisci Data Colloquio"
									class="form-control r-0 light s-12 datePicker"
									data-time-picker="false" data-format-date='Y-m-d'
									type="date" required>
							</div>
							<div class="form-group col-4 m-0">
								<label for="annoColloquio" class="col-form-label s-12">ANNO
									COLLOQUIO</label> <input th:value="${risorsa.annoColloquio}" id="annoColloquio"
									name="annoColloquio" placeholder="Inserisci Anno Colloquio" 
									class="form-control r-0 light s-12 date-picker"
									type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="esitoColloquio" class="col-form-label s-12">ESITO COLLOQUIO</label> 
								<select name="esitoColloquio" id="esitoColloquio" class="form-control r-0 light s-12 date-picker">
									<option th:value="${dettagliRisorsa.idEsitoColloquio}" th:text="${esitoColloquio}"></option>
    								<option th:each="esitoColloquio : ${esitiColloquio}" th:value="${esitoColloquio.id}" th:text="${esitoColloquio.nome}"></option>
    							</select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
				<h5 class="card-title">Candidatura</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="fonteReperimento" class="col-form-label s-12">FONTE
									REPERIMENTO</label> <input th:value="${risorsa.fonteReperimento}" 
									id="fonteReperimento" name="fonteReperimento"
									placeholder="Inserisci Fonte Reperimento"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="ruoloProfilo" class="col-form-label s-12">RUOLO</label>
								<select name="profilo" id="profilo" class="form-control r-0 light s-12 date-picker">
									<option th:value="${dettagliRisorsa.idProfilo}" th:text="${profilo}"></option>
    								<option th:each="profilo : ${profili}" th:value="${profilo.id}" th:text="${profilo.nome}"></option>
								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="competenzaPrincipale" class="col-form-label s-12">COMPETENZA PRINCIPALE</label>
								<input th:value="${risorsa.competenzaPrincipale}" id="competenzaPrincipale" 
								name="competenzaPrincipale" placeholder="Insersci Competenza Principale"
									class="form-control r-0 light s-12 date-picker" type="text" required>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
				<h5 class="card-title">Costo Impiego</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="costoGiornaliero" class="col-form-label s-12">COSTO
									GIORNALIERO</label> <input th:value="${risorsa.costoGiornaliero}" 
									id="costoGiornaliero" name="costoGiornaliero"
									placeholder="Insersci Costo Giornaliero" default="0"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="possibilitaLavorativa"
									class="col-form-label s-12">POSSIBILIT&Agrave; LAVORATIVA</label>
								<input th:value="${risorsa.possibilitaLavorativa}" id="possibilitaLavorativa"
									name="possibilitaLavorativa"
									placeholder="Insersci Possibilit&Agrave; Lavorativa"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<h5 class="card-title">Skill</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="skill1" class="col-form-label s-12">SKILL1</label>
								<select name="skill1" id="skill1" class="form-control r-0 light s-12 date-picker">
									<option th:value="${dettagliRisorsa.idSkill1}" th:text="${skill1}"></option>
    								<option th:each="linguaggio : ${linguaggi1}" th:value="${linguaggio.id}" th:text="${linguaggio.nome}"></option>
								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="skill2" class="col-form-label s-12">SKILL2</label>
								<select name="skill2" id="skill2" class="form-control r-0 light s-12 date-picker">
									<option th:value="${dettagliRisorsa.idSkill2}" th:text="${skill2}"></option>
    								<option th:each="linguaggio : ${linguaggi2}" th:value="${linguaggio.id}" th:text="${linguaggio.nome}"></option>
								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="skill3" class="col-form-label s-12">SKILL3</label>
								<select name="skill3" id="skill3" class="form-control r-0 light s-12 date-picker">
									<option th:value="${dettagliRisorsa.idSkill3}" th:text="${skill3}"></option>
    								<option th:each="linguaggio : ${linguaggi3}" th:value="${linguaggio.id}" th:text="${linguaggio.nome}"></option>
								</select>
							</div>

							<div class="form-group col-4 m-0">
								<label for="skill4" class="col-form-label s-12">SKILL4</label>
								<select name="skill4" id="skill4" class="form-control r-0 light s-12 date-picker">
									<option th:value="${dettagliRisorsa.idSkill4}" th:text="${skill4}"></option>
    								<option th:each="linguaggio : ${linguaggi4}" th:value="${linguaggio.id}" th:text="${linguaggio.nome}"></option>
								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="skill5" class="col-form-label s-12">SKILL5</label>
								<select name="skill5" id="skill5" class="form-control r-0 light s-12 date-picker">
									<option th:value="${dettagliRisorsa.idSkill5}" th:text="${skill5}"></option>
    								<option th:each="linguaggio : ${linguaggi5}" th:value="${linguaggio.id}" th:text="${linguaggio.nome}"></option>
								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="skillCampoLibero" class="col-form-label s-12">SKILL
									(campo libero)</label> <input th:value="${risorsa.skillCampoLibero}" 
									id="skillCampoLibero" name="skillCampoLibero"
									placeholder="Insersci Skill Campo Libero"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<h5 class="card-title">Lingua</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="lingua1" class="col-form-label s-12">LINGUA 1</label> 
									<select name="lingua1" id="lingua1" class="form-control r-0 light s-12 date-picker">
										<option th:value="${dettagliRisorsa.idLingua1}" th:text="${lingua1}"></option>
    									<option th:each="lingua : ${lingue1}" th:value="${lingua.id}" th:text="${lingua.nome}"></option>
    								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="lingua2" class="col-form-label s-12">LINGUA 2</label>
								<select name="lingua2" id="lingua2" class="form-control r-0 light s-12 date-picker">
									<option th:value="${dettagliRisorsa.idLingua2}" th:text="${lingua2}"></option>
   									<option th:each="lingua : ${lingue2}" th:value="${lingua.id}" th:text="${lingua.nome}"></option>
   								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="lingua3" class="col-form-label s-12">LINGUA 3</label> 
								<select name="lingua3" id="lingua3" class="form-control r-0 light s-12 date-picker">
									<option th:value="${dettagliRisorsa.idLingua3}" th:text="${lingua3}"></option>
   									<option th:each="lingua : ${lingue3}" th:value="${lingua.id}" th:text="${lingua.nome}"></option>
   								</select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<h5 class="card-title">Info Extra</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="competenzeTotali" class="col-form-label s-12">COMPETENZE
									TOTALI</label> <input th:value="${risorsa.competenzeTotali}" 
									id="competenzeTotali"
									name="competenzeTotali"
									placeholder="Insersci Competenze Totali"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="certificazioni" class="col-form-label s-12">CERTIFICAZIONI</label>
								<input th:value="${risorsa.certificazioni}" id="certificazioni" name="certificazioni"
									placeholder="Insersci Certificazioni"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="seniority" class="col-form-label s-12">SENIORITY</label>
								<select name="seniority" id="seniority" class="form-control r-0 light s-12 date-picker">
									<option th:value="${dettagliRisorsa.idSeniority}" th:text="${seniority}"></option>
   									<option th:each="livello : ${livelli}" th:value="${livello.id}" th:text="${livello.nome}"></option>
   								</select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<h5 class="card-title">Impressioni</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-12 m-0">
								<label for="commento" class="col-form-label s-12">COMMENTO</label>
								<input th:value="${commenti.note}" id="commento" name="commento"
									placeholder="Insersci Commento"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div id="commenti" class="col-md-6 offset-1"></div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<div class="card-body">
					<input type="submit" value="SALVA">
				</div>
				<a href="pagina-candidati" class="btn-fab btn-fab-md fab-right fab-right-bottom-fixed shadow btn-primary chiudiruota"><i
				class="icon-add"></i></a>
			</div>
		</div>
	</form>
</div>