<div th:fragment="paginaRichieste">
<div class="page avviso">
	<div class="page">
		<div class="row">
			<div class="col-4 card_avvisi" th:each="richiesta : ${richieste}">
				<span th:text="${richiesta[1]}"></span>
				<span th:text="${richiesta[2]}"></span>
				<span th:text="${richiesta[3]}"></span>
				<span th:text="${richiesta[4]}"></span>
				<span th:text="${richiesta[5]}"></span>
				<span th:text="${richiesta[6]}"></span>
				<span th:text="${richiesta[7]}"></span>
				<span th:text="${richiesta[8]}"></span>
				<span th:text="${richiesta[9]}"></span>
				
	       		</div>
			</div>
		</div>
	</div>	
</div>