<div th:fragment="visualizzaRichiesta">
	<div class="page">
		<div class="col-md-12">
			<p>Da Commerciale a Recruiter</p>
		</div>
		<div class="col-md-8">
			<div class="p5 b-b">
				<div class="pl-4 mt-4"></div>
				<div class="row">
					<div class="col-md-6">
						<div class="p-4">
							<h4 class="text-black">Ruolo</h4>
							<h5 class="p-t-10">
								<span id="email"></span>
							</h5>
						</div>
					</div>
					<div class="p5 b-b">
						<div class="pl-4 mt-4"></div>
						<div class="row">
							<div class="col-md-4">
								<div class="p-4">
									<h4 class="text-black">Skill 1</h4>
									<h5 class="p-t-10">
										[[${skill1}]]<span id="skill_1"></span>
									</h5>
								</div>
							</div>
							<div class="col-md-4">
								<div class="p-4">
									<h4 class="text-black">Skill 2</h4>
									<h5 class="p-t-10">
										[[${skill2}]]<span id="skill_2"></span>
									</h5>
								</div>
							</div>
							<div class="col-md-4">
								<div class="p-4">
									<h4 class="text-black">Skill 3</h4>
									<h5 class="p-t-10">
										[[${skill3}]]<span id="skill_3"></span>
									</h5>
								</div>
							</div>
							<div class="col-md-4">
								<div class="p-4">
									<h4 class="text-black">Skill 4</h4>
									<h5 class="p-t-10">
										[[${skill4}]]<span id="skill_4"></span>
									</h5>
								</div>
							</div>
							<div class="col-md-4">
								<div class="p-4">
									<h4 class="text-black">Skill 5</h4>
									<h5 class="p-t-10">
										[[${skill5}]]<span id="skill_5"></span>
									</h5>
								</div>
							</div>
							<div class="col-md-4">
								<div class="p-4">
									<h4 class="text-black">Skill campo libero</h4>
									<h5 class="p-t-10">
										[[${risorse.skillCampoLibero}]]<span id="skill_campo_libero"></span>
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="p5 b-b">
			<div class="pl-4 mt-4"></div>
			<div class="row">
				<div class="col-md-6">
					<div class="p-4">
						<h5 class="text-black">Citt&agrave;</h5>
						<h5 class="p-t-10">
							<span id="citta_di_allocazione"></span>
						</h5>
					</div>
				</div>
				<div class="col-md-6">
					<div class="p-4">
						<h5 class="text-black">Costo</h5>
						<h5 class="p-t-10">
							<span id="data_inserimento"></span>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<a href="/tutteRisorse"
	class="btn-fab btn-fab-md fab-right fab-right-bottom-fixed shadow btn-primary chiudiruota"><i
	class="icon-add"></i></a>



