<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Gestech">
	<title>Gestech | [[${titlePage}]]</title>
	<link rel="icon" href="assets/img/basic/favicon.ico" type="image/x-icon">
	<!-- CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.css" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/bootstrap-grid.css" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/bootstrap-reboot.css" crossorigin="anonymous">
	<link rel="preconnect" href="assets/css/font-awesome.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/layout.css">
	<link rel="stylesheet" href="assets/css/prism.css">
	<link rel="stylesheet" href="assets/css/skin-blue.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<link rel="stylesheet" href="assets/css/main.login.css">
	
	<!-- JS -->
	<script type="text/javascript" src="assets/js/jquery/jQuery-2.2.0.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap/bootstrap.js"></script>
	<script type="text/javascript" src="assets/js/jquery/jquery.stickem.js"></script>
	<script type="text/javascript" src="assets/js/jquery/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="assets/js/plugin/prism.js"></script>
	<script type="text/javascript" src="assets/js/plugin/docs.js"></script>
	<script type="text/javascript" src="assets/js/jquery/jquery.md5.min.js"></script>
	<script type="text/javascript" src="assets/js/plugin/app.js"></script>
	<script type="text/javascript" src="assets/js/main.login.js"></script>
	
</head>

<body id="body" class="light loaded">
	<div id="primary" class="blue4 p-t-b-100 height-full responsive-phone">
		<div class="container">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8 p-t-100">
					<div class="logo_cover">
						<img src="assets/img/logo_cover.png">
					</div>

					<div class="text-white">
						<p class="s-18 p-t-b-20 font-weight-lighter">[[${msgCredenziali}]]</p>
					</div>
					<form action="login" method="post" id="fm-login">
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group has-icon">
									<i class="icon-envelope-o"></i> <input type="text" id="email"
										class="form-control form-control-lg no-b" name="email"
										placeholder="error@mail.com" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
										title="Esempio error@mail.com">

								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group has-icon">
									<i class="icon-user-secret"></i> <input type="password" id="password"
										name="password" class="form-control form-control-lg no-b"
										placeholder="**********">
								</div>
							</div>

							<div class="col-lg-12">
								<input type="submit" class="btn btn-success btn-lg btn-block marbot"
									value="Accedi">
							</div>

							<div>
								<p class="s-18 p-t-b-20 font-weight-lighter">Hai dimenticato il nome
									utente o la password?</p>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Pre loader --> 
    <div id="loader" class="loader">
    <div class="plane-container">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>
</div>  
</body>

</html>