<div th:fragment="nuovoUtente">
	<form id="form" method="post" action="aggiungi-utente">
		<div class="row spazio">
			<div><p>[[${controllo}]]</p></div>
			<div class="form-group col-6 m-0">
				<label for="nomeCognome" class="col-form-label s-12">Nome e cognome</label>
				<input id="nomeCognome" name="nomeCognome"
					placeholder="Inserisci nome e cognome"
					class="form-control r-0 light s-12 date-picker" type="text">
			</div>
			<div class="form-group col-6 m-0 ruolo">
				<label for="ruolo" class="col-form-label s-12">Ruolo</label>
				<select name="ruolo" id="ruolo" class="form-control r-0 light s-12 date-picker">
					<option value="0">Selezionare...</option>
    				<option th:each="ruolo : ${ruoli}" th:value="${ruolo.id}" th:text="${ruolo.nome}"></option>
    			</select>
			</div>
			<div class="form-group col-4 m-0">
				<label for="email" class="col-form-label s-12">E-mail</label>
				<input id="email" name="email"
					placeholder="Inserisci email"
					class="form-control r-0 light s-12 date-picker" type="text">
			</div>
			<div class="form-group col-4 m-0">
				<label for="password" class="col-form-label s-12">Password</label>
				<input id="password" name="password"
					placeholder="**********"
					class="form-control r-0 light s-12 date-picker" min="6" max="20" required="" type="password">
			</div>
			<div class="form-group col-4 m-0">
				<label for="confermaPassword" class="col-form-label s-12">Conferma Password</label>
				<input id="confermaPassword"
				placeholder="**********"
				class="form-control r-0 light s-12 date-picker" min="6" max="20" required="" type="password">
			</div>
			<div class="row spazio">
				<div class="col-12">
					<input type="submit" onclick="controllaPassword()" value="AGGIUNGI">
		        </div>
			</div>
	  	</div>	  
	</form>	
</div>