<div th:fragment="nuovoCandidato">
	<form method="post" action="aggiungiCandidato" name="Aggiungi Candidato" enctype ="multipart/form-data">
		<div class="card no-b  no-r">
			<div class="card-body">
				<h5 class="card-title">Anagrafica</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="nome_congnome" class="col-form-label s-12">NOME
									E COGNOME</label> <input id="nome_cognome" name="nome_cognome"
									placeholder="Inserisci Nome e Cognome"
									class="form-control r-0 light s-12 " type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="recapito" class="col-form-label s-12">RECAPITO</label>
								<input id="recapito" name="recapito"
									placeholder="Inserisci Recapito"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="email" class="col-form-label s-12">EMAIL</label>
								<input id="email" name="email" placeholder="Inserisci Email"
									class="form-control r-0 light s-12 datePicker"
									data-time-picker="false" data-format-date='Y/m/d'
									type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="email" class="col-form-label s-12">PROFILO LINKEDIN</label>
								<input id="profilo_linkedin" name="profilo_linkedin" placeholder="Linkedin URL"
									class="form-control r-0 light s-12 datePicker"
									data-time-picker="false" data-format-date='Y/m/d'
									type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="citta_di_allocazione"
									class="col-form-label s-12">CITTA'</label> <input
									id="citta" name="citta"
									placeholder="Inserisci Città"
									class="form-control r-0 light s-12 datePicker"
									data-time-picker="false" data-format-date='Y/m/d'
									type="text">
							</div>
							<!-- <div class="form-group col-6 m-0">
								<label for="citta_di_allocazione"
									class="col-form-label s-12">CARICA CV</label><br>
     							<input type="file" name="nomeFile" enctype="multipart/form-data">
     						</div>-->
						</div>
					</div>
				</div>
				<!-- Fine row -->
			</div>
			<!-- Fine Card -->
			<hr>

			<div class="card-body">
				<h5 class="card-title">Colloquio</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="data_colloquio" class="col-form-label s-12"><i
									class="icon-calendar mr-2"></i>DATA COLLOQUIO</label> <input
									id="data_colloquio" name="data_colloquio"
									placeholder="Inserisci Data Colloquio"
									class="form-control r-0 light s-12 datePicker"
									data-time-picker="false" data-format-date='Y/m/d'
									type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="anno_colloquio" class="col-form-label s-12">ANNO
									COLLOQUIO</label> <input id="anno_colloquio"
									name="anno_colloquio" placeholder="Inserisci Anno
									Colloquio" class="form-control r-0 light s-12 date-picker"
									type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="esito_colloquio" class="col-form-label s-12">ESITO COLLOQUIO</label> 
								<select name="esito_colloquio" id="esito_colloquio" class="form-control r-0 light s-12 date-picker"></select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
				<h5 class="card-title">Candidatura</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="fonte_reperimento" class="col-form-label s-12">FONTE
									REPERIMENTO</label> <input id="fonte_reperimento"
									name="fonte_reperimento"
									placeholder="Inserisci Fonte Reperimento"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="ruolo_profilo" class="col-form-label s-12">RUOLO</label>
								<select name="ruolo_profilo" id="ruolo_profilo" class="form-control r-0 light s-12 date-picker"></select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="competenza_principale" class="col-form-label s-12">COMPETENZA PRINCIPALE</label>
								<input id="competenza_principale" name="competenza_principale" placeholder="Insersci Competenza Principale"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
				<h5 class="card-title">Costo Impiego</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="costo_giornaliero" class="col-form-label s-12">COSTO
									GIORNALIERO</label> <input id="costo_giornaliero"
									name="costo_giornaliero"
									placeholder="Insersci Costo Giornaliero"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="possibilita_lavorativa"
									class="col-form-label s-12">POSSIBILITA' LAVORATIVA</label>
								<input id="possibilita_lavorativa"
									name="possibilita_lavorativa"
									placeholder="Insersci Possibilità Lavorativa"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<h5 class="card-title">Skill/Tech</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="skill_1" class="col-form-label s-12">SKILL1</label>
								<select name="skill_1" id="skill_1" class="form-control r-0 light s-12 date-picker"></select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="skill_2" class="col-form-label s-12">SKILL2</label>
								<select name="skill_2" id="skill_2" class="form-control r-0 light s-12 date-picker"></select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="skill_3" class="col-form-label s-12">SKILL3</label>
								<select name="skill_3" id="skill_3" class="form-control r-0 light s-12 date-picker"></select>
							</div>

							<div class="form-group col-4 m-0">
								<label for="skill_4" class="col-form-label s-12">SKILL4</label>
								<select name="skill_4" id="skill_4" class="form-control r-0 light s-12 date-picker"></select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="skill_5" class="col-form-label s-12">SKILL5</label>
								<select name="skill_5" id="skill_5" class="form-control r-0 light s-12 date-picker"></select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="skill_campo_libero" class="col-form-label s-12">SKILL
									(campo libero)</label> <input id="skill_campo_libero"
									name="skill_campo_libero"
									placeholder="Insersci Skill Campo Libero"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<h5 class="card-title">Lingua</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="lingua_1" class="col-form-label s-12">LINGUA 1</label> 
									<select name="lingua_1" id="lingua_1" class="form-control r-0 light s-12 date-picker"></select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="lingua_2" class="col-form-label s-12">LINGUA 2</label>
								<select name="lingua_2" id="lingua_2" class="form-control r-0 light s-12 date-picker"></select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="lingua_3" class="col-form-label s-12">LINGUA 3</label> 
								<select name="lingua_3" id="lingua_3" class="form-control r-0 light s-12 date-picker"></select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<h5 class="card-title">Info Extra</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="competenze_totali" class="col-form-label s-12">COMPETENZE
									TOTALI</label> <input id="competenze_totali"
									name="competenze_totali"
									placeholder="Insersci Competenze Totali"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="certificazioni" class="col-form-label s-12">CERTIFICAZIONI</label>
								<input id="certificazioni" name="certificazioni"
									placeholder="Insersci Certificazioni"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="seniority" class="col-form-label s-12">SENIORITY</label>
								<select name="seniority" id="seniority" class="form-control r-0 light s-12 date-picker"></select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<h5 class="card-title">Impressioni</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-12 m-0">
								<label for="commento" class="col-form-label s-12">COMMENTO</label>
								<input id="commento" name="commento"
									placeholder="Insersci Commento"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div id="commenti" class="col-md-6 offset-1"></div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<div class="card-body">
					<input type="hidden" name="Servlet" value="profilo">
					<input type="submit" value="SALVA">
				</div>
			</div>
		</div>
	</form>
</div>